.roundingPicker {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 32px;
}

.roundingChoice {
    width: 96px;
    height: 96px;
    border: 1px solid var(--colorLighter);
    border-radius: 8px;
    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
    cursor: pointer;
}

.square {
    background-image: url('./assets/square.svg');
}

.round {
    background-image: url('./assets/round.svg');
}

.selected {
    border-color: var(--colorPrimary);
    opacity: 1;
}