body {
    --colorBackground: #111;
    --colorLighter: #444;
    --colorDarker: #010101;

    --colorPrimary: hsl(264.12, 100%, 61.96%);
    --colorPrimaryHover: hsl(264.12, 100%, 67%);

    --textColorPrimary: #fff;
    --textColorSecondary: #ccc;

    --colorPositive: hsl(124.22, 100%, 25.1%);
    --colorNegative: hsl(349.75, 83.26%, 46.86%);

    --colorButton: var(--colorLighter);
    --colorButtonHover: #555;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--textColorSecondary);
    background-color: var(--colorBackground);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
}

h1, h2, h3, h4 {
    color: var(--textColorPrimary);
    line-height: 50%;
}

button {
    padding: 8px 16px;
    min-width: 48px;
    line-height: 150%;
    background-color: var(--colorLighter);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

button:hover:enabled {
    background-color: #555;
}

button.primary {
    background-color: var(--colorPrimary);
}

button.primary:hover:enabled {
    background-color: var(--colorPrimaryHover);
}

.container {
    display: flex;
    flex-direction: column;
    width: 512px;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.picker {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 8px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0 16px 0;
}

@media (max-width : 527px) {
    .container {
        width: 100%;
    }
}
